<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Créer un article</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/headerStyle.css') }}">
        <script src="{{ url_for('static', filename='JS/script.js') }}"></script>

    </head>
    <body id="bodyID">
        {% include 'header.html' %}
        <section class="buttonStyle">
            <button type="button" onclick="titleON()">H1</button>
            <button type="button" onclick="subtitleON()">H2</button>
            <button type="button" onclick="italiqueON()"><i>italique</i></button>
            <button onclick="ligneON()"><u>souligner</u></button>
            <button onclick="grasON()"><b>gras</b></button>
            <button onclick="colorON()">couleur</button>
            <input type="color" class="colorTexte" id="colorTXT">
        </section>
        {% if error %}
            <span style="color: red; font-size: 12px;">* {{ error }}</span>
        {% endif %}
        <form method="post" class="formulaire">
            <ul>
            <li>
                <input type="text" id="title" name="title" class="resume" placeholder=" Titre" required/>
            </li>
            <li>
                <input type="text" id="summary" name="summary" class="resume" placeholder="Résumé" required/>
            </li>
            <li class="LIText">
                <textarea id="text" name="user_article" placeholder=" Article"></textarea>
            </li>
            <li>
                <button type="submit" class="submit">créer</button>
            </li>
            </ul>
        </form>
    </body>
</html>